<!DOCTYPE html>
<hmtl>
	<head>
		<title> Feed </title>
		<link type="text/css" href="/css/bootstrap.min.css/">
		
	</head>

	<!-- Header -->
	<header class="masthead bg-primary text-white text-center">
      <div class="container">
        <h1 class="text-uppercase mb-0">Out and Equal</h1>
        <hr class="star-light">
        <h2 class="font-weight-light mb-0">Out and Equal is the world's premier nonprofit dedicated to achieving global LGBT worklace equality.</h2>
        <hr class="star-light">
      </div>
    </header>

	<body>
		<div class="container-fluid">
		 	<div class="row">
			    <div class="col-sm-3 col-md-6 col-lg-4">
			    	<p style="border:3px; border-style:solid; border-color:black; padding: 1em;">
		  	 	 		Find an ERG
		  	 	 		<button type="button">GO</button>
		  	 	 	</p>

		  	 	  	<p style="border:3px; border-style:solid; border-color:black; padding: 1em;">
		  	 	 		Your ERGs
		  	 	 		<button type="button">GO</button>
		  	 	 	</p>

		  	 	  	<p style="border:3px; border-style:solid; border-color:black; padding: 1em;">
		  	 	 		Explore ERGs
		  	 	 		<button type="button">GO</button>
		  	 	 	</p>
				</div>

			    <div class="col-sm-9 col-md-6 col-lg-8">
			    	<div style="border:3px; border-style:solid; border-color:black; padding: 1em; float:center; ">
		  	 	 		<h1>Specific ERG</h1>
		  	 	 			<p> hello this is a post by an ERG </p>
		  	 	 	</div>
				</div>
			</div>
		</div>

	</body>

</html>