<!DOCTYPE html>
<html>
<head>
	<title>Out &amp; Equal | Workplace Advocates </title>
	<link rel="stylesheet" type="text/css" href="/static/css/style.css">
</head>
<body>

<div class="topnav">
	 
</div>

<br>

<div class="post" style="border-style: solid; border-radius: 5px">
<form action="" method="post" enctype="multipart/form-data">
  <table cellspacing="7px" class="post">
	<tbody>
		<tr>
		  <th>
		  	Referral ID
		  <th>
		  <td>
			<input type="text" name="referralid"/> 
		  </td>
		<tr>
        <tr>
		  <th>
		  	ERG Sponsor Code
		  <th>
		  <td>
			<input type="text" name="sponsor"/> 
		  </td>
		<tr>
        <tr>
		  <th>
		  	Email
		  <th>
		  <td>
			<input type="text" name="email"/> 
		  </td>
		<tr>
		<tr>
		  <th>
		  	First Name
		  <th>
		  <td>
			<input type="text" name="firstname"/> 
		  </td>
		<tr>
        <tr>
		  <th>
		  	Last Name
		  <th>
		  <td>
			<input type="text" name="lastname"/> 
		  </td>
         
		<tr>
		<tr>
		  <th>
		  	Username
		  <th>
		  <td>
			<input type="text" name="username"/>
		  </td>
		<tr>
		<tr>
		  <th>
		  	Password
		  <th>
		  <td>
			<input type="password" name="password"/>
		  </td>
		<tr>
	</tbody>
  </table>
  <input class="create" type="submit" name="signup" value="sign up"/>
</form>
<p class="create">Have an account? <a href="/accounts/login/">Log in</a></p>
</div>
